.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex-column-center {
  @extend .flex-column;
  align-items: center;
  justify-content: center;
}
.flex-column-start {
  @extend .flex-column;
  align-items: flex-start;
}
.flex-column-stretch {
  @extend .flex-column;
  align-items: stretch;
}
.flex-column-spaceBetween {
  @extend .flex-column;
  justify-content: space-between;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}
.flex-row-center {
  @extend .flex-row;
  align-items: center;
  justify-content: center;
}
.flex-row-stretch {
  @extend .flex-row;
  align-items: stretch;
}
.flex-row-spaceBetween {
  @extend .flex-row;
  justify-content: space-between;
}
.flex-row-spaceEvenly {
  @extend .flex-row;
  justify-content: space-evenly;
}
